/* Top nav */
.prm-primary-bg.prm-hue1, prm-search-bar.prm-hue1, prm-spinner.prm-hue1.overlay-cover.light-on-dark:after, prm-topbar .top-nav-bar {
  background-color: #57068C; }

prm-topbar .product-logo {
  padding: 0 1em;
  line-height: 73px; }

/* Call the clickable logo */
/* Search bar */
prm-search-bar .search-switch-buttons .md-button.switch-to-advanced {
  color: black; }

/* Hide language settings */
prm-user-area .user-language {
  display: none; }

prm-change-lang {
  display: none; }

/*prm-topbar .md-button:hover {
  background-color: $dark-purple;
}

md-fab-toolbar md-toolbar {
    background-color: $dark-purple !important;
}*/
prm-search-bar {
  background-image: url("../img/banner-bg.png");
  background-color: #f5f7fa;
  background-position: center center;
  font-size: inherit;
  /*padding: 1em;*/ }

/* Color of the loading spinner */
prm-spinner.half-transparent .diamond {
  background-color: #57068c; }

/* Search button */
.md-button.button-confirm._md-focused:not([disabled]),
.md-button.button-confirm.hovered:not([disabled]),
.md-button.button-confirm.md-focused:not([disabled]),
.md-button.button-confirm:focus:not([disabled]),
.md-button.button-confirm:hover:not([disabled]) {
  border: medium none;
  border-radius: 0;
  margin: 0;
  min-width: 0;
  padding: 0 1.2em;
  transition: background-color 0.3s ease 0s;
  color: black !important;
  background-color: white; }

/* Text color in search box */
input::-webkit-input-placeholder {
  color: #22272d !important; }

input:-moz-placeholder {
  /* Firefox 18- */
  color: #22272d !important; }

input::-moz-placeholder {
  /* Firefox 19+ */
  color: #22272d !important; }

input:-ms-input-placeholder {
  color: #22272d !important; }

.md-button.button-confirm {
  background-color: #22272d;
  color: white !important;
  border-radius: 0 !important; }

/* Facets on the left */
prm-search > md-content.md-primoExplore-theme.main.padded-container {
  display: -webkit-flex;
  -webkit-flex-flow: row-reverse wrap;
  display: flex;
  flex-flow: row-reverse wrap; }

.screen-gt-sm .sidebar {
  webkit-flex: 0 0 15%;
  flex: 0 0 15%; }
