.check-avail-link {
  color: $getit_green;
  font-size: 18px;
}

// Hide OOB availability links
prm-search-result-list .check-avail-link,
prm-search-result-availability-line .layout-align-start-start.layout-row {
  display: none;
}

// [aria-label="Get It"],
// &[id^='getit_link1_'] {
//   display: none;
// }

prm-opac > md-tabs,
prm-opac prm-requests-services-ovl {
  display: none;
}
