.check-avail-link {
  color: $getit_green;
  font-size: 18px;
}

// Hide OOB availability links
prm-search-result-list .check-avail-link, // search results
prm-search-result-availability-line .layout-align-start-start.layout-row, // search results
[aria-label="Get It"], // details page: sidebar "GETIT" link
&[id^='getit_link1_'] { // details page: GetIt section
  display: none;
}
