// Disable built in e-shelf
.pin-button,
prm-favorites-labels,
prm-search-bookmark-filter a[aria-label='Go to my favorites'],
prm-search-bookmark-filter a[aria-label="nui.favorites.goFavorites.tooltip"],
prm-favorites md-tab-item:first-child {
  display: none !important;
}
prm-search-bookmark-filter-after button.nyu-eshelf-toolbar {
  border-radius: 20px !important;
  min-width: 40px !important;
}
