// Facets on the left 
prm-search > md-content.md-primoExplore-theme.main.padded-container {
  display: -webkit-flex;
  -webkit-flex-flow: row-reverse wrap;
  display: flex;
  flex-flow: row-reverse wrap;
}

.screen-gt-sm .sidebar {
  webkit-flex: 0 0 15%;
  flex: 0 0 15%;
}
