/* Search bar */
prm-search-bar .search-switch-buttons .md-button.switch-to-advanced {
  color: black;
}

/* Hide language settings */
prm-user-area .user-language {
  display: none;
}

prm-change-lang {
  display: none;
}

prm-search-bar {
  background-image: url("../img/banner-bg.png");
  background-color: $background_light_gray;
  background-position: center center;
  font-size: inherit;
}

/* Color of the loading spinner */
prm-spinner.half-transparent .diamond{
    background-color: $purple;
}

/* Search button */
.md-button.button-confirm._md-focused:not([disabled]),
.md-button.button-confirm.hovered:not([disabled]),
.md-button.button-confirm.md-focused:not([disabled]),
.md-button.button-confirm:focus:not([disabled]),
.md-button.button-confirm:hover:not([disabled]) {
  border: medium none;
  border-radius: 0;
  margin: 0;
  min-width: 0;
  transition: background-color 0.3s ease 0s;
  color: black !important;
  background-color: white;
}

/* Text color in search box */
input::-webkit-input-placeholder {
  color: $text_black !important;
}

input:-moz-placeholder { /* Firefox 18- */
  color: $text_black !important;
}

input::-moz-placeholder {  /* Firefox 19+ */
  color: $text_black !important;
}

input:-ms-input-placeholder {
  color: $text_black !important;
}

.md-button.button-confirm {
	background-color: $text_black;
  color: white !important;
  border-radius: 0 !important;
}

.check-avail-link {
  color: $getit_green;
  font-size: 18px;
}

// hide check availability button in results
prm-search-result-list .check-avail-link {
  display: none;
}

// hide OOB availability links
prm-search-result-availability-line .layout-align-start-start.layout-row {
  display: none;
}
#getit_link1_1 {
  display: none;
}
#services-index button[aria-label="Get It"] {
  display: none;
}
