/* Top nav */
.prm-primary-bg.prm-hue1,
prm-search-bar.prm-hue1,
prm-spinner.prm-hue1.overlay-cover.light-on-dark:after,
prm-topbar .top-nav-bar {
  background-color: $dark-purple;
}
prm-search-bookmark-filter-after button.search-bookmark-filter-item {
  border-radius: 20px !important;
  min-width: 40px !important;
}
