/* Top nav */
prm-topbar {
  height: 108px;
}

.prm-primary-bg.prm-hue1, prm-search-bar.prm-hue1, prm-spinner.prm-hue1.overlay-cover.light-on-dark:after, prm-topbar .top-nav-bar {
  background-color: $dark-purple;
}

prm-topbar .product-logo {
  padding: 0 1em;
  line-height: 73px;
}

prm-logo {
  height: 120px;
}
