$dark-purple: #57068C;
$purple: #57068c;
$background_light_gray: #f5f7fa;
$getit_green: green;

$text_black: #22272d;
$text_lavender: #e0d5e8;
$text_blue: #027bc2;

$font_size_base: 14px;
$radius: 3px;

$bp_collapsed_nav: 960px;
