<button class="button chat-tab ss-chat js-toggle-chat" ng-init="showChatWidget = false" ng-click="showChatWidget = !showChatWidget">
  <prm-icon style="z-index:1" icon-type="svg" svg-icon-set="communication" icon-definition="ic_chat_24px"></prm-icon>
  Chat with us
</button>
<div class="chat-frame-wrap" ng-show="showChatWidget">
  <button class="chat-close ss-icon js-toggle-chat" title="Close chat window" ng-click="showChatWidget = !showChatWidget">&times;</button>
  <iframe class="chat-frame" src="https://us.libraryh3lp.com/chat/askbobst@chat.libraryh3lp.com?skin=23106" frameborder="0"></iframe>
</div>
